<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Puntos</th>
            <th scope="col">Fecha</th>
            <th scope="col">Cumplió</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let actividad of actividades; let i = index">
            <th scope="row">{{ i }}</th>
            <td>{{ actividad.nombre }}</td>
            <td>{{ actividad.apellido }}</td>
            <td>{{ actividad.puntos }}</td>
            <td>{{ actividad.fecha }}</td>
            <td>{{ actividad.cumplio }}</td>
        </tr>
    </tbody>
</table>